body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.landing-container {
    text-align: center;
    padding: 50px;
    background-color: white;
    margin: 100px auto;
    width: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input, button {
    margin: 10px;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}